<!DOCTYPE html>
<html>
<head>
    <title>LMS Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='login_bg.jpg') }}");
            background-size: cover;
            background-position: 0cap;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Welcome to Library</h2>
        <form method="post">
            <input name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
